<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE sqlMapConfig PUBLIC "-//ibatis.apache.org//DTD SQL Map Config 2.0//EN" "http://ibatis.apache.org/dtd/sql-map-config-2.dtd">
<sqlMapConfig>
	
	<settings
		cacheModelsEnabled="true"
		enhancementEnabled="true"
		lazyLoadingEnabled="true"
		useStatementNamespaces="true"
	/>

	<transactionManager type="JDBC">
		<dataSource type="DBCP">
			<property name="JDBC.Driver" value="oracle.jdbc.driver.OracleDriver"/>
			<property name="JDBC.ConnectionURL" value="jdbc:oracle:thin:@ebtest:1521:ekatest"/>
			<property name="JDBC.Username" value="dev"/>
			<property name="JDBC.Password" value="linkdev"/>
			<property name="Pool.MaximumActiveConnections" value="0"/>
			<property name="Pool.MaximumIdleConnections" value="10"/>
			<property name="Pool.MaximumWait" value="2000"/>
			<property name="Pool.DefaultAutoCommit" value="false"/>
		</dataSource>
	</transactionManager>
	
	<sqlMap resource="com/ekalife/elions/process/reas/sql.xml" />
		
</sqlMapConfig>